<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :company_name, id: :business_company_name, placeholder: "Company Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, id: :business_email, placeholder: "Email Address" %>
  </div>

  <div class="form-group">
    <%= form.text_field :first, id: :business_first, placeholder: "First Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :last, id: :business_last, placeholder: "Last Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :address, id: :business_address, placeholder: "Address" %>
  </div>

  <div class="form-group">
    <%= form.text_field :city, id: :business_city, placeholder: "City" %>
  </div>

  <div class="form-group">
    <%= form.text_field :state, id: :business_state, placeholder: "State" %>
  </div>

  <div class="form-group">
    <%= form.text_field :postal_code, id: :business_postal_code, placeholder: "Zip Code" %>
  </div>

  <div class="form-group">
    <%= form.text_field :country, id: :business_country, placeholder: "Country" %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_contacted_at, id: :business_last_contacted_at, placeholder: "Last contacted at", data: { provide: "datepicker" } %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_order_placed, id: :business_last_order_placed, placeholder: "Last order placed", data: { provide: "datepicker" } %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
