<h2><%=t '.title', default: Business.model_name.human.pluralize.titleize %></h1>
<div class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_to "Send Initial Intro Mailer", mailers_path, method: :post, params: { type: :initial_intro }, class: "btn btn-primary btn-sm", form: { id: "initial-intro-button" } %>
    <%= button_to "Send 1wk Intro Mailer", mailers_path, method: :post, params: { type: :one_week_intro }, class: "btn btn-primary btn-sm", form: { id: "one-week-intro-button" } %>
    <%= button_to "Send 2wk Intro Mailer", mailers_path, method: :post, params: { type: :two_week_intro }, class: "btn btn-primary btn-sm", form: { id: "two-week-intro-button" } %>
    <%= button_to "Send 1mo Followup Mailer", mailers_path, method: :post, params: { type: :one_month_followup }, class: "btn btn-secondary btn-sm", form: { id: "one-month-followup-button" } %>
  </div>
</div>

<%= form_tag businesses_path, method: 'get', id: "products_search" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control rounded-0 ser-input", placeholder: "Search...", id: "business-search" %>
  </div>
  <%= render partial: 'table', locals: { businesses: businesses } %>
<% end %>
