<% if business_suggestions.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Business.human_attribute_name(:company_name) %></th>
          <th><%= Business.human_attribute_name(:email) %></th>
          <th><%= Business.human_attribute_name(:city) %></th>
          <th><%= Business.human_attribute_name(:state) %></th>
          <th><%= Business.human_attribute_name(:last_contacted_at) %></th>
          <th><%= Business.human_attribute_name(:last_order_placed) %></th>
          <th>Send Followup Mailer</th>
          <th>Send Intro Mailer</th>
        </tr>
      </thead>
      <tbody class="suggestions">
        <% business_suggestions.each do |b| %>
          <tr>
            <td><%= link_to b.company_name, business_path(b) %></td>
            <td><%= b.email %></td>
            <td><%= b.city %></td>
            <td><%= b.state %></td>
            <td><%= b.last_contacted_at.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
            <td><%= b.last_order_placed.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
            <td class="checkbox"><%= check_box_tag("name", "value", false, class: "checkbox") %></td>
            <td class="checkbox"><%= check_box_tag("name", "value", false, class: "checkbox") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h4>No results found</h4>
<% end %>
