<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<% if businesses.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= check_box_tag("business_ids", businesses.ids, false, id: "select-all") %></th>
          <th><%= sortable :company_name, Business.human_attribute_name(:company_name) %></th>
          <th><%= sortable :email, Business.human_attribute_name(:email) %></th>
          <th><%= sortable :city, Business.human_attribute_name(:city) %></th>
          <th><%= sortable :state, Business.human_attribute_name(:state) %></th>
          <th><%= sortable :last_contacted_at, Business.human_attribute_name(:last_contacted_at) %></th>
          <th><%= sortable :last_order_placed, Business.human_attribute_name(:last_order_placed) %></th>
        </tr>
      </thead>
      <tbody class="suggestions">
        <% businesses.each do |business| %>
          <tr>
            <td><%= check_box_tag("business_id", business.id, false, class: "checkbox", id: "single-checkbox") %></td>
            <td><%= link_to business.company_name, business_path(business) %></td>
            <td><%= business.email %></td>
            <td><%= business.city %></td>
            <td><%= business.state %></td>
            <td><%= business.last_contacted_at.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
            <td><%= business.last_order_placed.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate businesses, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center' %>
  </div>
<% else %>
  <div>
    <p>No results found. Please try searching again.<p>
  </div>
<% end %>
