<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.company_name %></td>
        <td><%= business.email %></td>
        <td><%= business.first %></td>
        <td><%= business.last %></td>
        <td><%= business.address %></td>
        <td><%= business.city %></td>
        <td><%= business.state %></td>
        <td><%= business.postal_code %></td>
        <td><%= business.country %></td>
        <td><%= business.last_contacted_at %></td>
        <td><%= business.last_ordered_on %></td>
        <td><%= business.last_order_placed %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
