<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h2>Businesses</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Email</th>
          <th>Primary Contact</th>
          <th>Last Contact Date</th>
          <th>Last Order Payment Date</th>
        </tr>
      </thead>
      <tbody>
        <% @businesses.each do |business| %>
          <tr>
            <td><%= link_to business.company_name, business %></td>
            <td><%= business.email %></td>
            <td><%= business.primary_contact_name %></td>
            <td><%= business.last_contacted_at.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
            <td><%= business.last_order_placed.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Business', new_business_path %>
  </div>
</main>
