<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <p>
    <strong>Company name:</strong>
    <%= @business.company_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @business.email %>
  </p>

  <p>
    <strong>First:</strong>
    <%= @business.first %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= @business.last %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @business.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @business.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @business.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= @business.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @business.country %>
  </p>

  <p>
    <strong>Last contacted at:</strong>
    <%= @business.last_contacted_at.try(:strftime, "%m/%d/%Y at %I:%M%p") %>
  </p>

  <p>
    <strong>Last ordered on:</strong>
    <%= @business.last_order_placed.try(:strftime, "%m/%d/%Y at %I:%M%p") %>
  </p>


  <%= link_to 'Edit', edit_business_path(@business) %> |
  <%= link_to "Delete", @business, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', businesses_path %>
</main>
