<div class="col-lg-3 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-envelope-o fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= @mailers_count %></div>
          <div>Mailers Delivered</div>
        </div>
      </div>
    </div>
    <%= render_panel_footer(root_path) %>
  </div>
</div>
<div class="col-lg-3 col-md-6">
  <div class="panel panel-green">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-clock-o fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= @mailers_scheduled %></div>
          <div>Mailers Scheduled</div>
        </div>
      </div>
    </div>
    <%= render_panel_footer(root_path) %>
  </div>
</div>
<div class="col-lg-3 col-md-6">
  <div class="panel panel-yellow">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-shopping-cart fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= @new_orders %></div>
          <div>New Orders</div>
        </div>
      </div>
    </div>
    <%= render_panel_footer(root_path) %>
  </div>
</div>
<div class="col-lg-3 col-md-6">
  <div class="panel panel-red">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-support fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= @unresponsive %></div>
          <div>Unresponsive Businesses</div>
        </div>
      </div>
    </div>
    <%= render_panel_footer(root_path) %>
  </div>
</div>
