<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <%= render partial: 'layouts/shared/search_bar' %>
      <li>
        <%= link_to root_path do %>
          <%= content_tag(:i, "", {class: "fa fa-dashboard fa-fw"}) %>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to businesses_path do %>
          <%= content_tag(:i, "", {class: "fa fa-briefcase"}) %>
          Businesses
        <% end %>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Cost of Goods", reports_cog_path %>
          </li>
          <li>
            <%= link_to "Mailers Sent", reports_mailers_sent_path %>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>
