<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to image_tag("made-logo-light.png", height: '27', width: '80' ), root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <%= create_nav_link "Clients", businesses_path %>
      <%= create_nav_link "Reports", reports_path %>
    </ul>
  </div>
  <div class="my-2 my-sm-0">
    <ul class="navbar-nav mr-auto">
      <%= create_nav_link "Account Settings", edit_user_registration_path %>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-outline-success", method: :delete %>
      </li>
    </ul>
  </div>
</nav>
