<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("made-logo-dark.png", height: '27', width: '80' ), root_path, class: 'navbar-brand' %>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <%= link_to edit_user_registration_path do %>
            <%= content_tag(:i, "", {class: "fa fa-user fa-fw"}) %>
            User Profile
          <% end %>
        </li>
        </li>
        <li>
          <%= link_to settings_path do %>
            <%= content_tag(:i, "", {class: "fa fa-gear fa-fw"}) %>
            Settings
          <% end %>
        </li>
        <li class="divider"></li> <li>
          <%= link_to destroy_user_session_path , method: :delete do %>
            <%= content_tag(:i, "", {class: "fa fa-sign-out fa-fw"}) %>
            Logout
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
