<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="logo-signin">
        <%= link_to image_tag("made-logo-dark.png"), root_path %>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
      </div>
      <div class="panel-body">
        <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" } do |f| %>
          <div class="form-group">
            <%= f.email_field :email, placeholder: "Email Address", class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, placeholder: "Password", class: 'form-control', autocomplete: "off" %>
          </div>

          <div class="form-group checkbox">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>

          <%= f.submit "Sign In", class: 'btn btn-lg btn-primary btn-block' %>
          <div class='devise-links'>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
