<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello again <%= @business.first || @business.company_name + " team" %>!</p>

    <p>I hope your day is going great!</p>

    <p>
      I just wanted to send a quick follow up regarding the email I sent a couple of
      weeks ago introducing you to my line of <span style='font-style: italic;'>hand-mined and handmade Quartz jewelry</span>.
      I am attaching the original email along with my linesheet and a few photos for you
      to take a look at it again.
    </p>

    <p>I would be honored to get the opportunity to share made. jewelry with your customers!</p>

    <p>Thank your for your time!</p>

    <p>
      Grateful,
      <br />
      Stacy
    </p>

    <p>
      Stacy MacDonald
      <br />
      Owner, Designer, Miner, & Maker
      <br />
      <%= link_to "made.", "https://www.madelr.com" %>
      <br />
      <%= mail_to(@stacy_email, @stacy_email, subject: "made. Jewelry Inquiry") %>
      <br />
      <%= @stacy_phone %>
    </p>
    <br />

    <blockquote style='margin: 20px; padding-left: 20px; color: #428bca; border-left:2px solid #428bca;'>
      <%= @intial_intro_body %>
    </blockquote>
  </body>
</html>
