<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @business.first || @business.company_name + " team" %> !</p>

    <p>
      My name is Stacy MacDonald and I am the Owner, Designer, Miner & Maker of Arkansas based
      jewelry business, made. My line is made exclusively with Quartz that I have mined here in
      our Ouachita Mountains.
    </p>

    <p>
      In the Spring and Fall of each year, I dig and unearth Quartz and Quartz crystals from
      the Ouachitas (pronounced wash-i-taw) to use in my jewelry. My hands are the first to
      touch these stones since their creation! I put them through a series of washes and then
      wrap them in a way that allows their unique characteristics to show off. The result is
      a beautiful contrast of raw, organic nature and clean, minimalist lines.
    </p>

    <p style='font-style: italic;'>
      To view my process first hand, you can visit the <%= link_to "home page", "https://www.madelr.com" %> of my website or read more
      about the process <%= link_to "here", "https://www.madelr.com/the-process" %>.
    </p>

    <%= content_tag :p, @business.connection_point if @business.connection_point.present? %>

    <p>
      I am attaching a few pictures along with a linesheet for your consideration. I would be
      thrilled to add <%= @business.company_name %> to our growing list of stockists! Feel free to reach out
      either by email or phone if you have any questions.
    </p>

    <p>
      Grateful,
      <br />
      Stacy
    </p>

    <p>
      Stacy MacDonald
      <br />
      Owner, Designer, Miner, & Maker
      <br />
      <%= link_to "made.", "https://www.madelr.com" %>
      <br />
      <%= mail_to(@stacy_email, @stacy_email, subject: "made. Jewelry Inquiry") %>
      <br />
      <%= @stacy_phone %>
    </p>
    <br />
    <br />
    <img src='https://madelr.com/s/assistant_1.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_2.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_3.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_4.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_5.jpg'></img>
  </body>
</html>
