<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @contact_first || @business_name + " team" %>!</p>
    <p>
      Stacy here, Owner, Designer, Miner & Maker of <b>made.</b> I am looking forward to how I can
      continue to serve you and your customers in 2018 whether that is:
    </p>

    <p>
      <ul>
        <li>
          Restocking items that you are low on (no minimum purchase required on reorders!
          Just email <%= @wholesale_email %>)
        </li>
        <li>
          Promoting a special event you may be having through our bi-monthly newsletter, or

        </li>
        <li>
          Sending you marketing materials to have displayed with the jewelry to help your
          customers get to know <b>made.</b> better.
        </li>
      </ul>
    </p>

    <p>
      Whatever I can do to help this be the best year for you guys, just let me know! I am
      attaching a PDF with a line sheet to make your next reorder quick and easy.
    </p>

    <p style='font-style: italic;'>
      Psst: be sure to check out our Top Selling items, the Lariat Necklace and Thread Earrings!
    </p>

    <p>I look forward to hearing from you!</p>

    <p>
      Grateful,
      <br />
      Stacy
    </p>

    <p>
      Stacy MacDonald
      <br />
      Owner, Designer, Miner, & Maker
      <br />
      <%= link_to "made.", "https://www.madelr.com" %>
      <br />
      <%= mail_to(@stacy_email, @stacy_email, subject: "made. Jewelry Inquiry") %>
      <br />
      <%= @stacy_phone %>
    </p>
    <br />
    <br />
    <img src='https://madelr.com/s/assistant_1.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_2.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_3.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_4.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_5.jpg'></img>
  </body>
</html>
