<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello again <%= @business.first || @business.company_name + " team" %>!</p>

    <p>
      Stacy, here, from <b>made.</b> I just wanted to follow up once more to see if you are
      interested in adding my raw Quartz jewelry that I mine and make to your selection at
      <%= @business.company_name %>? I am attaching my line sheet along with a few photos again for
      your consideration.
    </p>

    <p>
      If you’re ready to place your order, you can just hit Reply and let me know the pieces,
      metals, and quantities you’d like! I’ll get an invoice sent out to you right away and then
      begin production on your order.
    </p>

    <p>
      I am available if you have any questions at <%= @stacy_email %> or by phone at <%= @stacy_phone %>.
    </p>

    <p>
      I look forward to working with you soon!
    </p>

    <p>
      Grateful,
      <br />
      Stacy
    </p>

    <p>
      Stacy MacDonald
      <br />
      Owner, Designer, Miner, & Maker
      <br />
      <%= link_to "made.", "https://www.madelr.com" %>
      <br />
      <%= mail_to(@stacy_email, @stacy_email, subject: "made. Jewelry Inquiry") %>
      <br />
      <%= @stacy_phone %>
    </p>
    <br />

    <blockquote style='margin: 20px; padding-left: 20px; color: #428bca; border-left:2px solid #428bca;'>
      <%= @first_followup_body %>
    </blockquote>
    <br />
    <br />
    <img src='https://madelr.com/s/assistant_1.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_2.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_3.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_4.jpg'></img>
    <br />
    <img src='https://madelr.com/s/assistant_5.jpg'></img>
  </body>
</html>
