<html lang='en'>
  <head>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Made Assistant</title>

      <%= csrf_meta_tags %>
    </head>

    <body>
      <div class="container">
        <div id="nav-bar"></div>

        <div class="inner-container">
          <%= yield %>
        </div>
      </div>

      <div class="footer">
        <%= yield :footer %>

        <%= javascript_pack_tag "navBar" %>
        <%= stylesheet_pack_tag "navBar" %>
      </div>
    </body>
</html>
