<html lang='en'>
  <head>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Made Assistant</title>

      <%= csrf_meta_tags %>
    </head>

    <body>
      <div class="body">
        <%= render "layouts/shared/flash_messages" %>

        <%= render "layouts/shared/topnav" if @disable_top_bar %>
        <%= render "layouts/shared/sidenav" if @disable_side_bar %>

        <div id=<%=current_user.present? ? "page-wrapper" : "" %>>
          <%= yield %>
        </div>
      </div>

      <div class="footer">
        <%= yield :footer %>
      </div>
    </body>
</html>
