<html lang='en'>
  <head>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Made Mailer</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/shared/top_bar' if @disable_top_bar %>
      <%= render 'layouts/shared/flash_messages' %>
    </header>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/shared/side_bar' if @disable_side_bar %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
