<html lang='en'>
  <head>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Made Assistant</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.3/noty.js" integrity="sha256-35uun0LanRz94cb4LLowMrhE/a5nNRU2URx76QaqD/s=" crossorigin="anonymous" async></script>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.3/noty.css" integrity="sha256-6lLJuDZcAoTls1PMzJ688ngM/NDckmD8HDXFXSTt4Rs=" crossorigin="anonymous" />
  </head>

  <body>
    <header>
      <%= render 'layouts/shared/top_bar' if @disable_top_bar %>
    </header>
    <div class="container-fluid">
      <div class="row">
        <%= render_side_bar if @disable_side_bar %>
        <%= yield %>
      </div>
    </div>
  <%= javascript_include_tag "application" %>
  <%= yield :footer_scripts %>
  <%= render 'layouts/shared/flash_messages' %>
  </body>
</html>
